* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Telex", sans-serif;
}

.mobile {
  max-width: 350px;
  height: 660px;
  border: 1px solid #eee;
  border-radius: 2rem;
  overflow: hidden;
  margin: 10rem auto;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.15);
  /*   cursor: zoom-in; */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  padding: 0 1rem;
  color: #666;
}

header img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

header a {
  color: inherit;
}

.date {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.date > a {
  color: #b96f7c;
}

.days ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #b96f7c;
}

ul li {
  list-style: none;
}

.numbers ul {
  display: flex;
  justify-content: space-around;
  padding-left: 0.6rem;
}

div div {
  padding-bottom: 1.2rem;
}

.special {
  color: #fff;
  width: 1.6rem;
  height: 1.6rem;
  background-color: #b96f7c;
  border-radius: 50%;
  text-align: center;
  margin-left: 0.2rem;
  margin-top: -0.2rem;
  padding-top: 0.25rem;
}

.hero {
  width: 15rem;
  height: 15rem;
  background: #b96f7c;
  border-radius: 50%;
  margin: 2rem auto;
  position: relative;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.14);
}

.hero div {
  position: absolute;
  right: 5rem;
  top: 1rem;
  color: #fff;
  font-weight: 100;
  font-size: 2rem;
}

.hero p {
  position: absolute;
  left: -4rem;
  top: 1.5rem;
}

.hero span {
  position: absolute;
  left: -4.8rem;
  font-weight: bold;
  font-size: 8rem;
  padding-top: 1rem;
}

.plus {
  width: 3rem;
  height: 3rem;
  background: #b96f7c;
  border-radius: 50%;
  /*   display: flex;
    justify-content: center;
    align-items: flex-end; */
  text-align: center;
  padding-top: 0.95rem;
  margin-left: 280px;
}

.plus a {
  color: #fff;
}

footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem auto;
  border-top: 1px solid #eee;
  padding-top: 0.75rem;
}

li a {
  color: #555;
  font-size: 1.5rem;
}

#pinky {
  color: #b96f7c;
}
